%form{ :name => "poetry-form", :action => "/", :method => "post" }
	%label{ :for => "author" } Author
	%input{ :id => "author", :name => "author", :type => "text", :value => @author }
	%label{ :for => "title" } Title
	%input{ :id => "title", :name => "title", :type => "text", :value => @title }

	%br
	%textarea{ :name => "inpoetry", :id => "inpoetry" }
		#{preserve(@inpoetry)}
	%br
	%input{ :id => "submit", :type => "submit", :value => "Format" }

%br
%textarea{ :name => "outpoetry", :id => "outpoetry", :readonly => "" }
	#{preserve(html_escape(@outpoetry))}
