!!!
%html
	%head
		%meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
		%meta{:name => "lang", :content => "en"}
		%title Poetry Formatter
		%link{:href=>'/vendor/bootstrap/css/bootstrap.min.css', :rel => 'stylesheet', :type => "text/css"}
		%link{:href=>'/styles/main.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}

	%body
		.container
			%h1 Poetry Formatter
			.content
				= yield

	%script{ :src => '/vendor/jquery-1.9.1.min.js' }
	%script{ :src => '/vendor/bootstrap/js/bootstrap.min.js' }
